{% extends 'recipemaker/base.html' %} {% block content %}
<h1 class="is-size-3-mobile is-size-1-desktop has-text-centered pt-6">Cosmetic Formulas</h1>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
               <h1 class="is-size-5-mobile is-size-3-desktop has-text-centered my-3">Salves</h3>
               
                    <ul class="is-size-5-mobile is-size-5-desktop has-text-centered pb-3">
                    <li>1 part Beeswax or Hard Oils</li>
                    <li>4 parts Liquid Oils</li>
                    </ul>    
            
                    <h1 class="is-size-5-mobile is-size-3-desktop has-text-centered my-3">Balms</h3>
                        
                            <ul class="is-size-5-mobile is-size-5-desktop has-text-centered pb-3">
                                <li>1 part Beeswax or Hard Oil</li>
                                <li>1 part Liquid Oils</li>
                            </ul>    
                      
                </div>
                <div class="column">
                <h1 class="is-size-5-mobile is-size-3-desktop has-text-centered my-3">Lotions</h3>
               
                    <ul class="is-size-7-mobile is-size-5-desktop has-text-centered pb-3">
                        <li>70% Water or Hydrosol</li>
                        <li>15% Liquid Oils</li>
                        <li>5% Butters or Hard Oils</li>
                        <li>5% Emulsifying Wax</li>
                        <li>3% Stearic Acid</li>
                        <li>1% Essential Oil</li>
                        <li>1% Preservative or per preservative's usage rate</li>
                    </ul> 
              
            </div>
           
            <div class="column">
                <h1 class="is-size-5-mobile is-size-3-desktop has-text-centered my-3">Tinctures</h3>
              
                    <ul class="is-size-5-mobile is-size-5-desktop has-text-centered pb-3">
                        <li>1 part Plant Materials</li>
                        <li>2 parts Alcohol or Glycerin</li>
                    </ul>    
              
                <h1 class="is-size-5-mobile is-size-3-desktop has-text-centered my-3">Infusions</h3>
                    
                        <ul class="is-size-5-mobile is-size-5-desktop has-text-centered pb-3">
                            <li>1 part Plant Materials</li>
                            <li>5 parts Liquid Oils</li>
                        </ul>    
                
            </div>
            
        </div>
    </div>
</section>

{% endblock %}