{% extends 'recipemaker/base.html' %} {% block content %}
<h1 class="is-size-3-mobile is-size-1-desktop has-text-centered ">Formulas</h1>

<h3>balms</h3>
<p>oils, waxes</p>
<h3>salves</h3>
<p>oils, waxes, butters</p>
<h3>tinctures</h3>
<p>alcohol, glycerin, plant materials</p>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="column">
                    <h1 class="is-size-5-mobile is-size-3-desktop has-text-centered mb-3">Salves</h3>
                    <p class="is-size-5-mobile is-size-5-desktop">  
                        <ul>
                            <li>1 part Beeswax or Hard Oils</li>
                            <li>4 parts Liquid Oils</li>
                        </ul>    
                    </p>
                    <h1 class="is-size-5-mobile is-size-3-desktop has-text-centered mb-3">Balms</h3>
                        <p class="is-size-5-mobile is-size-5-desktop">  
                            <ul>
                                <li>1 part Beeswax or Hard Oil</li>
                                <li>1 part Liquid Oils</li>
                            </ul>    
                        </p>
                </div>
                <h1 class="is-size-5-mobile is-size-3-desktop has-text-centered mb-3">Lotions</h3>
                <p class="is-size-7-mobile is-size-5-desktop">
                    <ul>
                        <li>70% Water or Hydrosol</li>
                        <li>15% Liquid Oils</li>
                        <li>5% Butters or Hard Oils</li>
                        <li>5% Emulsifying Wax</li>
                        <li>3% Stearic Acid</li>
                        <li>1% Essential Oil</li>
                        <li>1% Preservative or per preservative's usage rate</li>
                    </ul> 
                </p>
            </div>
           
            <div class="column">
                <h1 class="is-size-5-mobile is-size-3-desktop has-text-centered mb-3">Tinctures</h3>
                <p class="is-size-5-mobile is-size-5-desktop">  
                    <ul>
                        <li>1 part Plant Materials</li>
                        <li>2 parts Alcohol or Glycerin</li>
                    </ul>    
                </p>
                <h1 class="is-size-5-mobile is-size-3-desktop has-text-centered mb-3">Infusions</h3>
                    <p class="is-size-5-mobile is-size-5-desktop">  
                        <ul>
                            <li>1 part Plant Materials</li>
                            <li>5 parts Liquid Oils</li>
                        </ul>    
                    </p>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}